{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Мой дневник</title>
	
	{% bootstrap_css %}
	{% bootstrap_javascript jquery="full" %}
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
		<a class="navbar-brand" href="{% url 'learning_logs:index' %}">Мой дневник</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" ariaControls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a href="{% url 'learning_logs:topics' %}" class="nav-link">Темы</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<li class="nav-item mr-2">
						<span class="navbar-text">Здравствуйте, {{ user.username }}</span>
					</li>
					<li class="nav-item">
						<a href="{% url 'users:logout' %}" class="nav-link">Выйти</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{% url 'users:register' %}" class="nav-link">Регистрация</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'users:login' %}" class="nav-link">Вход</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<main role="main" class="container">
		<div class="pb-2 mb-2 border-bottom">
			{% block page_header %}{% endblock page_header %}
		</div>
		<div>
			{% block content %}{% endblock content %}
		</div>
	</main>
</body>
</html>