{% extends "learning_logs/base.html" %}

{% block page_header %}
	<h1 style="display: inline-block;">Темы</h1><a class="bt btn-lg btn-primary ml-3" href="{% url 'learning_logs:new_topic' %}" role="button">+ Добавить тему</a>
{% endblock page_header %}

{% block content %}

<ul>
	{% for topic in topics %}
	<li><h4>
		<a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
	</h4></li>
	{% empty %}
	<li><h4>Еще не было добавлено ни одной записи.</h4></li>
	{% endfor %}
</ul>

{% endblock content %}